In [2]:
#1

edades = {
    "Núria": "25 años"
}
edades

{'Núria': '25 años'}

In [4]:
#2
lugar = {
    "ciudad": "Madrid", "pais": "España"
    }
lugar.get("pais")

'España'

In [6]:
#3
alumno = {
    "nombre": "Luis"
}

alumno["nota"] = 8.5

alumno

{'nombre': 'Luis', 'nota': 8.5}

In [7]:
#4
paises = {
    "España": "Madrid", "Francia": "París", "Italia": "Roma"
    }

for key, value in paises.items():
    print(f'{key}: {value}')

España: Madrid
Francia: París
Italia: Roma

In [22]:
#5
usuario = {
    "nombre": "Sara", "edad": 28
    }

"email" in usuario

usuario["email"] = "sara@email.com"

usuario

{'nombre': 'Sara', 'edad': 28, 'email': 'sara@email.com'}

In [26]:
#6
producto = {
    "nombre": "Camisa", "precio": 25
    }

del producto ["precio"]

producto

{'nombre': 'Camisa'}

In [3]:
#7
palabra = input("introduzca una palabra para contar sus letras").lower()

print({letra: palabra.count(letra) for letra in palabra})

{'p': 1, 'r': 1, 'o': 2, 'b': 1, 'a': 1, 'n': 1, 'd': 1}

In [ ]:
#8
clases = {
    "lunes": ["Mates", "Lengua"], "martes":["Inglés"]
    }
value for key,value in clases:
    if key == "martes" and value == list:
    list.append("ciencias")
    
print(clases)

SyntaxError: invalid syntax (410324247.py, line 5)

In [ ]:
#9 
diccionario = {
    "a": 1, "b": 2
}

diccionario.items()

dict_items([('a', 1), ('b', 2)])